<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../style/choose.css">
    <title>Admin-access </title>
</head>
<body>
    <form id="chooseForm">
        <label class="label"  for="reqId" id="reqId"  > Request Id :-</label><br>
        <input type="number"  class="inputField" id="reqId" name="reqId"  required autofocus> <br> <br> 
        
        <!-- <button style="background-color: limegreen;" value="Accept " id="accept"> <br><br>
        <input type="submit" style="background-color: rgb(252, 133, 133);" value="Deny " id="deny">   -->
    </form>
    <button class="statusbtn" style="background-color: limegreen;" id="accept"     > Accept  </button>
    <button class="statusbtn" style="background-color: rgb(252, 133, 133);" id="deny"  > Deny  </button>
</body>
<script src="../script/chooseForm.js"></script>
</html>