<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <title>Login</title>
</head>
<body>
    <% if(data == "Incorrect ID or Password") {%>
    <h2 style="color: red;" >*Incorrect ID or Password </h2>
    <%}%>
    <form action="/login" method="post">
        <label class="label" for="username">UserName : </label><br>
        <input type="text" class="inputField" id="username" name="username" required autofocus><br><br>
        <label class="label" for="password">Password :</label><br>
        <input type="password" class="inputField" id="password" name="password" required autofocus> 
        <input type="submit" value="Submit" id="submit">
      </form>
      <!-- <button>Login</button> -->
      <a href="/register"> Create A New One </a>
</body>
<script src="../script/login.js"></script>
</html>